{% extends 'base.html' %}
{% block content %}
<body>
    <h1>Film List</h1>
    <ul>
        {% for film in films %}
        <li><a href="{% url 'film-details' film.pk %}">{{ film.title }}</a></li>
        {% endfor %}
    </ul>
<!-- Пагинация -->
    {% if is_paginated %}
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; первая </a>
                <a href="?page={{ page_obj.previous_page_number }}">  предыдущая </a>
            {% endif %}

            <span class="current">
                Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">  следующая  </a>
                <a href="?page={{ page_obj.paginator.num_pages }}"> последняя &raquo;</a>
            {% endif %}

        </span>
    </div>
    {% endif %}
</body>
{% endblock %}
